/* css files for place */
.places {
  text-align: center;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.places h1 {
    font-size: 30px;
    vertical-align: top;
    text-align: left;
    padding: 25px 0 0 30px;
    margin: 0;
}
}
.places_title{
    padding-top: 30px;
    margin-bottom: -25px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    display: inline-block;
    position: relative;

}

.places h2 {
    font-size: 30px;
    text-align: center;
}
